<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Depositos</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-sm table-condensed">
            <thead class="thead-light">
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Deposito</th>
                    <th>Valor</th>
                    <th>Utilizado</th>
                    <th>A favor</th>
                    <th>Fecha</th>
                    <th>Tipo</th>                    
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let deposito of depositos">
                    <td>{{ deposito.cedula }}</td>
                    <td>
                        {{ deposito.primernombre }} {{ deposito.segundonombre }}
                        {{ deposito.primerapellido }} {{ deposito.segundoapellido }}
                    </td>
                    <td>
                        {{ deposito.numerodeposito }}
                    </td>
                    <td>
                        {{ deposito.valordeposito | currency }}
                    </td>
                    <td>
                        {{ deposito.valorpagadodeposito | currency }}
                    </td>
                    <td>
                        {{ deposito.valordeposito - deposito.valorpagadodeposito | currency }}
                    </td>
                    <td>
                        {{ deposito.fechadeposito | date: 'yyyy-MM-dd' }}
                    </td>
                    <td>
                        {{ deposito.tipodeposito }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>