<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Socios</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-sm table-condensed table-striped">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Lote actual</th>
                    <th>Lote anterior</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let deposito of personas; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ deposito.cedula }}</td>
                    <td>                        
                        {{ deposito.primerapellido }}
                        {{ deposito.primernombre }} 
                    </td>
                    <td>
                        {{ deposito.manzana }}
                        -
                        {{ deposito.numerolote }}
                    </td>
                    <td>
                        {{ deposito.manzanaanterior }}
                        -
                        {{ deposito.numeroloteanterior }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>