<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Asistencias:</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
    <div style="margin: 3px 3px;">
        <table class="table table-hover table-sm table-condensed">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Cedula</th>
                    <th class="text-center">Lote</th>
                    <th class="text-center">Lote anterior</th>
                    <th class="text-center">Reunion</th>
                    <th class="text-center">Asistencia</th>
                    <th class="text-center">Multa</th>
                    <th class="text-center">Pagos</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let pago of asistencias; let i=index" [ngClass]="{'rosa':(pago.valorasistencia != 'P' && pago.valorasistencia != 'J')}">
                    <td>
                        {{ i+1 }}
                    </td>
                    <td>
                        {{ pago.primerapellido }} {{ pago.primernombre }}
                    </td>
                    <td class="text-center">{{ pago.cedula }}</td>
                    <td class="text-center">
                        {{ pago.codigoreferencia }}
                    </td>
                    <td class="text-center">
                        {{ pago.codigoreferenciaanterior }}
                    </td>
                    <td>
                        {{ pago.nombrereunion }}
                    </td>
                    <td class="text-center">
                        {{ pago.valorasistencia }}
                    </td>
                    <td class="text-right">
                        <span *ngIf="(pago.valorasistencia != 'P' && pago.valorasistencia != 'J')">
                            {{ pago.valormulta | currency }}
                        </span>
                    </td>
                    <td class="text-right">
                        <span *ngIf="(pago.valorasistencia != 'P' && pago.valorasistencia != 'J')">
                            {{ pago.valorpagadoreunion | currency }}
                        </span>
                    </td>
                    <td class="text-center">
                        <!--
                        <a [routerLink]="['/edit', deposito.id]" class="btn btn-primary btn-sm fontsize">Edit</a>
                        -->
                        <a 
                            *ngIf="(pago.valorasistencia != 'P' && pago.valorasistencia != 'J')"
                            class="btn btn-sm btn-default align-top form-control-xs" 
                            (click)="openModalAsistencia(pago)"
                            aria-label="Settings">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal pago asistencias -->
<app-asistencia-modal></app-asistencia-modal>