<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Reporte inasistencia:</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
    <div style="margin: 3px 3px;">
        <table class="table table-hover table-sm table-condensed">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Cedula</th>
                    <th class="text-center">Lote</th>
                    <th class="text-center">Lote anterior</th>
                    <th class="text-center" *ngIf="!totalizado">Reunion</th>
                    <th class="text-center" *ngIf="!totalizado">Asistencia</th>
                    <th class="text-center">Multa</th>
                    <th class="text-center">Pagado</th>
                    <th class="text-center">Pendiente</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let pago of asistencias; let i=index">
                    <td>
                        {{ i+1 }}
                    </td>
                    <td>
                        {{ pago.primerapellido }} {{ pago.primernombre }}
                    </td>
                    <td class="text-center">
                        {{ pago.cedula }}
                    </td>
                    <td class="text-center" title="{{pago.codigolote}}">
                        {{ pago.codigoreferencia }}
                    </td>
                    <td class="text-center" title="{{pago.codigolote}}">
                        {{ pago.codigoreferenciaanterior }}
                    </td>
                    <td *ngIf="!totalizado">
                        {{ pago.nombrereunion }}
                    </td>
                    <td *ngIf="!totalizado" class="text-center">
                        {{ pago.valorasistencia }}
                    </td>
                    <td class="text-right">
                        {{ pago.valormulta | currency }}
                    </td>
                    <td class="text-right">
                        {{ pago.valorpagadoreunion | currency }}
                    </td>
                    <td class="text-right">
                        {{ pago.valormulta - pago.valorpagadoreunion | currency }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>