<fieldset class="scheduler-border p-1 m-1">
    <legend class="scheduler-border">FILTROS DE BUSQUEDA:</legend>
    <form [formGroup]="formBusqueda" class="p-0 m-0">
        <div class="form-group p-1 m-0">
            <label for="txtNombreID" class="p-0 m-0">Nombre:</label>
            <input 
                class="form-control form-control-xs-2 py-2 border" 
                name="txtNombreID"
                id="txtNombreID" 
                type="text"                             
                formControlName="nombresocio"
                placeholder="Nombre"
                >
        </div>

        <div class="form-group p-1 m-0">
            <label for="txtApellidoID" class="p-0 m-0">Apellido:</label>
            <input 
                class="form-control form-control-xs-2 py-2 border" 
                name="txtApellidoID"
                id="txtApellidoID" 
                type="text"                             
                formControlName="apellidosocio"
                placeholder="Apellido"
                >
        </div>

        <div class="form-group p-1 m-0">
            <label for="txtCedulaID" class="p-0 m-0">Cedula:</label>
            <input 
                class="form-control form-control-xs-2 py-2 border" 
                name="txtCedulaID"
                id="txtCedulaID" 
                type="text"                             
                formControlName="persona"
                [ngbTypeahead]="searchPersona" 
                [resultFormatter]="resultFormatPersonaListValue"
                [inputFormatter]="inputFormatPersonaListValue" 
                (selectItem)="selectedPersona($event)"
                (focus)="focusPersona$.next($event.target.value)"
                (click)="clickPersona$.next($event.target.value)"
                #instancePersona="ngbTypeahead" 
                placeholder="Cedula"
                >
        </div>

        <div class="form-group p-1 m-0">
            <label for="txtLoteID" class="p-0 m-0">Lote:</label>
            <input 
                class="form-control form-control-xs-2 py-2 border" 
                name="txtLoteID"
                id="txtLoteID" 
                type="text"                             
                formControlName="lote"
                [ngbTypeahead]="searchLote" 
                [resultFormatter]="resultFormatLoteListValue"
                [inputFormatter]="inputFormatLoteListValue" 
                (selectItem)="selectedLote($event)"
                (focus)="focusLote$.next($event.target.value)"
                (click)="clickLote$.next($event.target.value)"
                #instanceCuota="ngbTypeahead" 
                placeholder="Seleccione lote"
                >
        </div>

        <div class="form-group p-1 m-0">
            <label for="txtCuotaID" class="p-0 m-0">Cuota:</label>
            <input 
                class="form-control form-control-xs-2 py-2 border" 
                name="txtCuotaID"
                id="txtCuotaID" 
                type="text"                             
                formControlName="cuota"
                [ngbTypeahead]="searchCuota" 
                [resultFormatter]="resultFormatCuotaListValue"
                [inputFormatter]="inputFormatCuotaListValue" 
                (selectItem)="selectedCuota($event)"
                (focus)="focusCuota$.next($event.target.value)"
                (click)="clickCuota$.next($event.target.value)"
                #instanceCuota="ngbTypeahead" 
                placeholder="Seleccione cuota"
                >
        </div>
        
        <div class="form-group m-1 text-center">
            <button class="btn btn-primary form-control-xs-2 m-1" 
                (click)="buscarCuotasLotesFilters()">
                <span class="fa fa-search"></span> Buscar
            </button>
            <button class="btn btn-danger form-control-xs-2" 
                (click)="cancelCuotasLotesFilters()">
                <span class="fa fa-search"></span> Cancelar
            </button>
        </div>
        
    </form>
</fieldset>