<ng-template #childmodalasistencia let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ titleModal }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" aria-hidden="true">
        <span aria-hidden="true">&times;</span>
      </button>
	</div>	
    <div class="modal-body">
        <form [formGroup]="formModalPago">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="textValorCuota" class="col-sm-6 col-form-label col-form-label-sm">Reunion inasistencia:</label>
                    <div class="labelItem col-sm-6">
                        {{ pago.nombrereunion }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="textValorCuota" class="col-sm-6 col-form-label col-form-label-sm">Valor multa:</label>
                    <div class="labelItem col-sm-6">
                        {{ pago.valormulta | currency }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="textValorCuota" class="col-sm-6 col-form-label col-form-label-sm">Lote:</label>
                    <div class="input-group col-sm-6 labelItem">
                            {{pago.codigoreferencia}}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="textValorCuota" class="col-sm-4 col-form-label col-form-label-sm">Dueño:</label>
                    <div class="input-group col-sm-8 labelItem">
                            {{ this.pago.primerapellido }} {{ this.pago.primernombre }}
                    </div>
                </div>
            </div>
            <ng-template #rt let-r="result" let-t="term" style="size: 12px;">
                <tr style="font-size: 12px;">
                    <!--
                    <td style="width: 100px; margin-left: 10px; margin-right: 10px;"> <span style="color: #FF7043"> {{ r.fechadeposito | date:"yyyy-MM-dd" }} </span> </td>
                    -->
                    <td style="width: 100px; margin-left: 15px; margin-right: 15px;" title=" {{ r.codigodeposito }} "> {{ r.numerodeposito }} </td>
                    <td style="width: 60px; margin-left: 15px; margin-right: 15px;"> {{ r.valordeposito }} <span>$</span> </td>
                    <td style="width: 60px; margin-left: 15px; margin-right: 15px;"> {{ r.valorutilizado }} <span>$</span> </td>
                </tr>
            </ng-template>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="txtDeposito" class="col-sm-2 col-form-label col-form-label-sm">Deposito:</label>
                    <div class="input-group col-sm-10">
                        <input 
                            class="form-control form-control-sm py-2 border-right-0 border" 
                            name="txtDeposito"
                            id="txtDeposito" 
                            type="text"                             
                            formControlName="deposito"
                            [ngbTypeahead]="searchDeposito" 
                            [resultTemplate]="rt"
                            [inputFormatter]="inputFormatDepositoListValue" 
                            (selectItem)="selectedDeposito($event)"
                            (focus)="focusDeposito$.next($event.target.value)"
                            (click)="clickDeposito$.next($event.target.value)"
                            #instanceDeposito="ngbTypeahead"
                            >
                        
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                          <label for="inputValorDep">Valor</label>
                          <input type="text" readonly class="form-control-plaintext" id="inputValorDep" value="{{ modelDeposito?.valordeposito | currency }}">
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="inputValorUti">Utilizado</label>
                          <input *ngIf="modelDeposito?.valordeposito > 0" type="text" readonly class="form-control-plaintext" id="inputValorUti" value="{{  modelDeposito?.valordeposito - modelDeposito?.valorpendientedeposito | currency}}">
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="inputValorPen">A favor</label>
                          <input type="text" readonly class="form-control-plaintext" id="inputValorPen" value="{{  modelDeposito?.valorpendientedeposito | currency}}">
                        </div>
                      </div>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputValorPagoCuotaLote" 
                        class="col-sm-5 col-form-label col-form-label-sm">Valor pago multa:</label>
                        <input type="number" 
                            class="form-control form-control-sm" 
                            id="inputValorPagoCuotaLote"
                            placeholder="Valor pago cuota" formControlName="valorpagocuotalote">
                </div>
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                          <label for="inputMultaPen">Pendiente</label>
                          <input type="text" readonly class="form-control-plaintext" id="inputMultaPen" value="{{  valorpendiente | currency}}">
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="inputMultaPag">Pagado</label>
                          <input type="text" readonly class="form-control-plaintext" id="inputMultaPag" value="{{ valorpagoTotal | currency }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" *ngIf="mensaje != ''">
                <div class="form-group col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 10px;">
                        {{ mensaje }}
                    </div>
                        
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer text-center">
        <button 
            type="button" 
            class="btn btn-outline-primary form-control-xs-2 ml-1"
            (click)="savePagoAsistencia()">Guardar</button>
        <button 
            type="button" 
            class="btn btn-outline-danger form-control-xs-2" 
            (click)="hideModal()">Cancelar</button>
    </div>
	
</ng-template>