<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">PAGOS:</a>
    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item py-0">
                <a routerLink="pagos-list" routerLinkActive="active" class="nav-link">
                    List
                </a>
            </li>
            <li class="nav-item py-0">
                <a routerLink="pagos-cuotas" routerLinkActive="active" class="nav-link">
                    Coutas
                </a>
            </li>
        </ul>
    </div>
</nav>