body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 11px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 1fr;
    grid-template-rows: 30px 30px 1fr 30px;
    grid-template-areas:
    "header header header header"
    "menubar menubar menubar menubar"
    "leftCol content content content"
    "footer footer footer footer";
    grid-gap: 5px;
    height: 100vh;
}

.menubar{
    grid-area: menubar;
    background-color: silver ;
}

app-header{
    grid-area: header;
    background-color: LightSeaGreen ;
}
   
.leftCol{
    grid-area: leftCol;
    background-color: orange;
}
   
.rightCol{
    grid-area: rightCol;
    background-color: lightblue;
}

.content{
    grid-area: content;
    background-color: lightgrey;
}
   
.midTop{
    grid-area: midTop;
    background-color: lightgrey;
}
   
.midBottom{
    grid-area: midBottom;
    background-color: pink;
}
   
  .footer{
    grid-area: footer;
    background-color: lightgreen;
  }